html body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-snap-type: y proximity;
    color: #f1d4a1;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: url('src/videos/coffee-shop.jpg') center/cover fixed no-repeat;
}




.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.3s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}


/* MENU FIXO SUPERIOR */

.top-menu {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 999;
}


.top-menu ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-menu a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s;
}

.top-menu a:hover {
    text-shadow: 0 0 12px rgba(255,200,150,1);
}



.coffee-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* margin: 30px; */
    animation: fadeIn 1.2s ease-out;
    /* backdrop-filter: blur(5px) saturate(120%);
-webkit-backdrop-filter: blur(5px) saturate(120%);
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0 4px 20px rgba(0,0,0,0.2);
border-radius: 3rem;
*/}


@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}



.coffee-header{
    backdrop-filter: blur(2px) saturate(140%);
    /* border: 2px solid #ebb474; */
    background-color: #4d2e2a88;
    height: 100vh;
}

.coffee-title {
    font-size: 5rem;
    font-weight: 800;
    animation: floatTitle 4s ease-in-out infinite;
    filter: drop-shadow(0px 12px 25px rgba(0,0,0,0.6));
}


.coffee-cup img {
    width: 600px;      
    height: auto;
    animation: floatCup 5s ease-in-out infinite;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.4));
}
@keyframes floatTitle {
    0% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-15px) scale(1.03); }
    100% { transform: translateY(0) scale(1); }
}

@keyframes floatCup {
    0% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-15px) scale(1.0); }
    100% { transform: translateY(0) scale(1); }
}

.coffeeshop-container .promo-container.inside {
    grid-column: 1 / -1; 
    position: relative;
    z-index: 10;
}

.promo-container.inside {
    scroll-snap-align: none !important;
}

.coffee-item h3,
.coffee-item p {
    font-weight: 700;
    text-shadow:
         1px  1px 0 #000;
}



.coffee-item {
position: relative;
padding: 10px;
border-radius: 15px;
width: 200px;
height: 300px;
text-align: center;
overflow: hidden;
background: transparent;
backdrop-filter: blur(5px) saturate(120%);
-webkit-backdrop-filter: blur(5px) saturate(120%);
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}


.coffee-item img {
width: 120px;
height: auto;
border-radius: 2rem;
}

.coffee-item:hover {
    transform: scale(1.05);
}




.coffeeshop-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
gap: 10px;
padding: 30px; /*alterado */
margin: 30px;
scroll-snap-align: start;
position: relative;
background: transparent;
justify-items: center;
background: transparent;
backdrop-filter: blur(5px) saturate(120%);
-webkit-backdrop-filter: blur(5px) saturate(120%);
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0 4px 20px rgba(0,0,0,0.2);
border-radius: 5rem;
}

.coffee-section-title {
    grid-column: 1 / -1;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
}


.promo-container {
width: 100%;
padding: 10px;
overflow: hidden;
background: transparent;
border-radius: 18px;
}


.promo-carousel {
display: flex;
gap: 20px;
padding-left: 10px;
animation: slidePromo 15s linear infinite;
}


.promo-card {
min-width: 660px;
height: 200px;
background: transparent;
border-radius: 15px;
padding: 10px;
text-align: center;
backdrop-filter: blur(5px);
border: 2px solid rgba(255,255,255,0.35);
display: flex;
flex-direction: column;
justify-content: space-between;
}


.promo-card img {
width: 100%;
height: 120px;
object-fit: cover;
border-radius: 12px;
}


.promo-card p {
font-size: 1.1rem;
font-weight: 700;
color: #fff;
margin-top: 5px;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



@keyframes slidePromo {
0% { transform: translateX(10%); }
100% { transform: translateX(-80%); }
}



.coffee-section-title {
    font-size: 6rem;
    text-align: center;
    color: #fff;
    text-shadow: 
        0 0 12px rgba(255,200,150,0.7),
        0 0 18px rgba(255,180,120,0.5);
    font-weight: 700;
}